*{
    font-size: 1.17rem;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
html{
    background-color: #EFEAFB;
}
body{
    color: #ffffffc5;
}
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.bouncing-dots {
    display: flex;
    gap: 8px;
}
  
.bouncing-dots span {
    width: 12px;
    height: 12px;
    background: #007bff;
    border-radius: 50%;
    animation: bounce 0.6s infinite alternate;
}
  
.bouncing-dots span:nth-child(2) {
    animation-delay: 0.2s;
  }
  
.bouncing-dots span:nth-child(3) {
    animation-delay: 0.4s;
}
  
  @keyframes bounce {
    from {
      transform: translateY(0);
      opacity: 0.5;
    }
    to {
      transform: translateY(-12px);
      opacity: 1;
    }
}
h2{
    margin: 0.5rem;
    padding: 1rem 0.5rem;
    font-family: "Noto Sans", sans-serif;
}
.para{
    margin: 0rem 0.5rem 0rem 0.5rem;
    padding: 1rem 0.5rem;
    font-family: "Noto Sans", sans-serif;
}
.tab li{
    margin: 1rem;
    /* line-height: 10%; */
    padding: 0.7em;
    border-top: 1.5rem;
    border: solid 1px;
    border-radius: 10px;
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
}
.tab li:last-child, .tab li:nth-child(1){
    text-align: right ;
    width: fit-content;
    max-width: 100%;
    margin-right: 1rem;
    word-wrap: break-word;
    white-space: normal;

    @media (min-width: 1200px) {
        margin-left: auto;
    }
}
.tab li ::marker{
    border: solid;
    font-size: large;

}
.strong{
    display: inline;
    font-weight: bolder;
    color: blue;
}
.strong:hover{
    transform-style: preserve-3d;
    transition:color 0.5s ease;
    color: red;
}
.lhr{ 
    font-size: 0.5rem;
    text-align: center;
    width: 75%;
    border: solid 1px;
    
}