*{ 
    margin:0;
    padding:0;
    box-sizing: content-box;
    font-family: "Roboto", sans-serif;
    font-size: 1.17rem;
}
html{
    background-color: #EFEAFB;
}
body {
    color: #ffffffc5;       
}
main {
    /* margin: 0 0.6rem; */
    margin-top: 3rem;
}
.title{
    text-align: center;
    margin: 0.4rem 0 0.6rem 0;
    font-size: 2.5rem;
}
.violet{
    font-size: 2.5rem;
    font-style: normal;
    color: #6c63ff;
}
.desc{
    margin-bottom: 0.8rem;
    text-align: center;
}
.form{
    /* text-align: center; */
    max-width: 800px; 
    display: grid;
    align-items: center;
    grid-template-columns: 150px 1fr;
    margin: 10px auto;
}
fieldset{
    margin: 1rem;
    width: 100%;
    height: fit-content;
    display:flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 12px;
    line-height: 2.25rem;
    background: linear-gradient(to top right, rgb(97, 52, 219) ,rgb(137, 54, 214) , rgb(221, 201, 201) );
    box-shadow: 0 12px 24px rgba(0,0,0,0.3), inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
fieldset:hover {
    transform: translateY(-3px);
    transition: 0.2s ease;
}
input[type="text"], input[type="email"],textarea{
    /* flex: 1; */
    box-sizing: border-box;
    width: 100%;
    color:#EFEAFB;
    border-color: black;
}
.inside3, .inside{
    text-align: left;
}
input{
    border: none;
    border-bottom: 2px solid ;
    background: transparent;
    margin: 0.2rem 0.2rem 0.4rem 0.4rem;
    padding: 0 0.6rem 0 0.4rem;
}
#other-part{
    flex:1;
    box-sizing: border-box;
    max-width: 95%;
    width: 95%;
}
.reason{
    line-height: 1rem;
}
label{
    text-align: right;
    padding-right: 5px;
    white-space: nowrap;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.radio-op{
    font-weight: 500;
}
.box{
    margin-bottom: 0.2rem;
}
.inside3{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    min-width: 1
}
.inside3 input[type='text']{
    width: 120px;
}
legend{
    font-weight: 700;
}
button{
    border: 1px solid;
    border-radius: 7px;
    border-color: #7c6ae6;
    background: #7c6ae6;
    color: #ffffff;
}
button:hover, button:focus{
    filter: brightness(1.08);
}
button:active{
    transform: scale(0.98)
}
input[type="email" i]::placeholder, input[type="text" i]::placeholder, textarea::placeholder{
    color: rgba(255, 255, 255, 0.432);
}
input[type="email" i]:focus, input[type="text" i]:focus, textarea:focus{
    outline: none;
}
input:focus::placeholder{
    opacity: 0.3;
}
textarea{
    background-color: inherit;
    border-radius: 7px;
    border:1px solid black;
    padding-left: 0.4rem;
}
.form-actions {
    display: grid;
    grid-template-columns: 2fr 8fr;
    gap: 9px;
    width:100%;
}
.lhr{ 
    font-size: 0.5rem;
    border: none 1px;

}
footer{
    text-align: center;
    font-size: small;
}
