*{ 
    margin:0;
    padding:0;
    box-sizing: content-box;
    font-family: "Roboto", sans-serif;
    font-size: 1.17rem;
}
html{
    background-color: #EFEAFB;
}
body {
    color: #ffffffc5;
}
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.bouncing-dots {
    display: flex;
    gap: 8px;
}
  
.bouncing-dots span {
    width: 12px;
    height: 12px;
    background: #007bff;
    border-radius: 50%;
    animation: bounce 0.6s infinite alternate;
}
  
.bouncing-dots span:nth-child(2) {
    animation-delay: 0.2s;
  }
  
.bouncing-dots span:nth-child(3) {
    animation-delay: 0.4s;
}
  
  @keyframes bounce {
    from {
      transform: translateY(0);
      opacity: 0.5;
    }
    to {
      transform: translateY(-12px);
      opacity: 1;
    }
}
.container {
    width: 80%;
    margin: 0 auto;
}
footer {
    text-align: center;
    color: black;
    padding: 10px 0;
}
.info-container {
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin: 1rem;
    margin-bottom: 0.5rem;
}
.intro{
    background:linear-gradient(to right, rgb(116, 52, 219) ,rgb(137, 54, 214) , rgba(219, 194, 194, 0.986) ); ;
    box-shadow: 0 12px 24px rgba(0,0,0,0.3), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    color: #ffffffc5;
    border-radius: 10px;
    margin: .4rem;
    padding: 0.7rem;
    /* bg last: 190, 169, 169, 0.986 */
}
.skill{
    background: linear-gradient(to right, rgb(116, 52, 219) ,rgb(137, 54, 214) , rgb(190, 169, 169, 0.986) ); ;
    box-shadow: 0 12px 24px rgba(0,0,0,0.3), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    color: #ffffffc5;
    border-radius: 10px;
    margin: 0.4rem;
    margin-top: 0.6rem;
    padding: 0.7rem;
}
.skill ul, .edu h3,.intro p, .proj h3{
    list-style-type: none;
    margin-left: 0.4rem;
    margin-bottom: 0.2rem;
}
.second_row{
    display: grid;
    grid-template-columns: 7fr 3fr;
    margin: 0.5rem 1rem 0.5rem 1rem;
}
.proj{
    grid-template-columns: 7fr 3fr;
    background: linear-gradient(to right, rgb(116, 52, 219) ,rgb(137, 54, 214) , rgb(190, 169, 169, 0.986)); ;
    box-shadow: 0 12px 24px rgba(0,0,0,0.3), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    color: #ffffffc5;
    border-radius: 10px;
    margin: 0.4rem;
    margin-top: 0.6rem;
    padding: 0.8rem;
}
.edu{
    background: linear-gradient(to right, rgb(116, 52, 219) ,rgb(137, 54, 214) , rgb(190, 169, 169, 0.986)); ;
    box-shadow: 0 12px 24px rgba(0,0,0,0.3), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    color: #ffffffc5;
    border-radius: 10px;
    margin: 0.4rem;
    padding: 0.8rem;
}
.edu p, .proj p, .liinside{
    margin-left: 0.8rem;
}
.intro:hover, .skill:hover, .proj:hover, .edu:hover{
    background: linear-gradient(to bottom right, #6c63ff, #b3a8c9) ;
    transform: translateY(-3px);
    transition: 0.2s ease;
}
.title{
    padding-bottom: 0.7rem;
}
hr{
    border:none;
}
/* @media (max-width: 768px) {
  .box-60,
  .box-40 {
    width: 100%;
  }
} */