/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 5px;
    color: #333;
    background-color: #f2f2f2;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    padding: 0 20px;
}

main {
    padding: 20px 0;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Add a hover effect to the buttons */
button:hover {
    background-color: #45a049;
  }
