*{ 
    margin:0;
    padding:0;
    box-sizing: content-box;
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
}
html{
    background: #f4f6fb;
}
body {
    /* font-family: Arial, sans-serif; */
    margin: 5px;
    padding: 5px;
    color: #2b2b2b;
}
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.bouncing-dots {
    display: flex;
    gap: 8px;
}
  
.bouncing-dots span {
    width: 12px;
    height: 12px;
    background: #007bff;
    border-radius: 50%;
    animation: bounce 0.6s infinite alternate;
}
  
.bouncing-dots span:nth-child(2) {
    animation-delay: 0.2s;
  }
  
.bouncing-dots span:nth-child(3) {
    animation-delay: 0.4s;
}
  
  @keyframes bounce {
    from {
      transform: translateY(0);
      opacity: 0.5;
    }
    to {
      transform: translateY(-12px);
      opacity: 1;
    }
}
.container {
    width: 80%;
    margin: 0 auto;
}

header h1 {
    margin: 0;
    padding: 0 20px;
}
footer {
    text-align: center;
    color: black;
    padding: 10px 0;
}

/* Add a hover effect to the buttons */
button:hover {
    background-color: #45a049;
}
.info-container {
    display: grid;
    grid-template-columns: 60% 40%;
    /* gap: .3rem; */
    margin: 1rem;
}
.intro{
    background:linear-gradient(to right, rgb(116, 52, 219) ,rgb(137, 54, 214) , rgb(221, 201, 201) ); ;
    box-shadow: 0 12px 24px rgba(0,0,0,0.3), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    color: #ffffffc5;
    border-radius: 10px;
    margin: .4rem;
    padding: 0.7rem;
}
.skill{
    background: linear-gradient(to right, rgb(116, 52, 219) ,rgb(137, 54, 214) , rgb(221, 201, 201) ); ;
    box-shadow: 0 12px 24px rgba(0,0,0,0.3), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    color: #ffffffc5;
    border-radius: 10px;
    margin: .4rem;
    padding: 0.7rem;
}
.skill ul{
    list-style-type: none;
}
.proj{
    grid-column: 1 / -1; /* span the full width of grid */
    background: linear-gradient(to right, rgb(116, 52, 219) ,rgb(137, 54, 214) , rgb(221, 201, 201) ); ;
    box-shadow: 0 12px 24px rgba(0,0,0,0.3), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    color: #ffffffc5;
    border-radius: 10px;
    margin: 0.4rem;
    padding: 0.8rem;
}
.intro:hover, .skill:hover, .proj:hover{
    background: linear-gradient(to bottom right, #6c63ff, #b3a8c9) ;
    transform: translateY(-3px);
    transition: 0.2s ease;
}
.proj h2{
    padding-bottom: 1rem;
}
hr{
    border:none;
}
footer{
    font-size: small;
}
/* @media (max-width: 768px) {
  .box-60,
  .box-40 {
    width: 100%;
  }
} */
