*{ 
    margin:0;
    padding:0;
    box-sizing: content-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
html{
    background-color: whitesmoke;
}
body {
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 5px;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header h1 {
    margin: 0;
    padding: 0 20px;
}

main {
    padding: 20px 0;
}

footer {
    text-align: center;
    padding: 10px 0;
}
/* Add a hover effect to the buttons */
button:hover {
    background-color: #45a049;
  }
